# This file mirrors vendor/mglaman/drupal-check/phpstan.neon but adds an ignore rule.
includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/mglaman/phpstan-drupal/rules.neon
parameters:
  level: 2
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
    # PHP unit statics: https://github.com/phpstan/phpstan-strict-rules/pull/5
    - "#^Dynamic call to static method PHPUnit\\\\Framework\\\\Assert#"
